.about {
  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.about {
  padding-top: 60px;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  outline: 3px soli red;
  background-color: $background-accent;
  text-align: center;

  @media screen and (max-width: 767px) {
    background-image: url(../images/about/about-bcg-mob@1x.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/about/about-bcg-mob@2x.png);
      background-position: bottom right;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/about/about-bcg-desk@1x.png);
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/about/about-bcg-desk@2x.png);
      background-repeat: no-repeat;

      background-size: contain;
    }
  }
}
.about__wrapper {
  margin-bottom: 26px;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 55px;
  }
}
.about__label {
  margin-bottom: 15px;
  font-family: $secondary-font;
  color: $light-accent-color;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
}
.about__title {
  font-family: $secondary-font;
  color: $dark-accent-color;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.14;
  }
}

.about__image {
  @media screen and (max-width: 767px) {
    width: 280px;
    height: 279px;
  }
  @media screen and (min-width: 768px) {
    width: 340px;
    height: 339px;
  }
}

.about__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  margin-top: 46px;
  margin-bottom: 20px;
}

.about__item {
  width: 200px;
  height: auto;

  &:first-child {
    margin-bottom: 35px;
  }
  &:last-child {
    margin-top: 24px;
  }
  @media screen and (min-width: 768px) {
    width: 340px;
  }
}
.about__text {
  font-family: $main-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: $dark-text-color;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.78;
    letter-spacing: 0.04em;
  }
}

.about__text--lightcolor {
  color: $light-text-color;
}

.about__button {
  justify-content: center;
  align-items: center;

  background-color: $background-main;
  color: $dark-button;

  font-family: $main-font;
  font-weight: 700;
  letter-spacing: 0.04em;

  width: 176px;
  height: 44px;

  border-radius: 22px;
  border-color: transparent;
  &:hover {
    background-color: $light-button-hover;
  }
}

.about__full-box {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.about__box {
  @media screen and (min-width: 768px) {
    margin-left: 20px;
  }
}
