p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}

section {
  padding: 40px 20px;
  @media (min-width: 768px) {
    padding: 60px 36px;
  }
  @media (min-width: 1280px) {
    padding: 80px 115px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 480px) {
    width: 480px;
  }
  @media (min-width: 768px) {
    width: 768px;
  }
  @media (min-width: 1280px) {
    width: 1280px;
  }
}

a {
  text-decoration: none;
}

.container--no-padding {
  padding: 0;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.visualy-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
