.header {
  height: 502px;
  background-color: $section-color-1;

  @media (min-width: 480px) {
    width: 480px;
  }

  @media (min-width: 768px) {
    width: 768px;
  }
  @media (min-width: 1280px) {
    width: 1280;
  }
}

.header__button {
  width: 209px;
  height: 44px;
  border-radius: 22px;
  border-color: $section-color-1;
  color: $dark-accent-color;

  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.312;
}
img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.menu-toggle {
  background-color: $section-color-1;
  border-color: $section-color-1;
  position: absolute;
  top: 16px;
  right: 16px;
}

.header__container {
  padding: 34px 37px;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .nav__site {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 779px) {
  .header__button {
    display: none;
  }
}
