
.slick-list { overflow: hidden;}

.slick-track{
    display: flex;
}

.slick-dots{
    display: flex;
      align-items: center;
     justify-content: space-between;
    margin: auto;
    width: 72px;
}
.slick-dots li{
 list-style: none;
 width: 12px;
    height: 12px;
    background-color: #d9d9d9;
    border: none;
    cursor: pointer;
    border-radius: 50%;
  }



.slick-dots li button{
    /* font-size: 0; */
    position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;

} 
.slick-dots li.slick-active{
    width: 15px;
    height: 15px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./house.svg);
}