<section class="section">
    <div class="container about">
        <p class="about__label">Tradition and love</p>
        <h2 class="about__title">How IT's made</h2>
        <picture class="about__image">Картинка</picture>
        <ul class="about__wrapper">
            <li><p>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
            Maecenas eleifend erat at justo fringilla.</p></li>
            <li><p>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p></li>
            <li><p>Aliquam erat volutpat. Aenean accumsan.</p></li>
        </ul>
        <button>Read more</button>
    </div>
</section>