  <section>
    <div class="container">
        <h2 id="customer-reviews" class="visualy-hidden">Customer reviewers</h2>
  
  
  
        <div class="slider">
               <div class="slider__item">
          <picture class="reviews__reviewer-photo">
             <img src="./images/customer-reviews/customer-1.png " alt="photo of curly hair girl" width="85" height="85" class="reviews__customer-img"></picture>
         <div class="reviews__field">
          <div class="reviewes__gradient-box">
          <p class="reviews__text"> <span class="reviews__pseudo">N</span> ullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
      </div> 
          <h3 class="reviews__reviewer-data">Emily, Los Angeles</h3>
        </div>
   
        <div class="slider__item ">
            <picture class="reviews__reviewer-photo">
                <img src="./images/customer-reviews/customer-2.png " alt="photo of happy girl in yellow dress" width="85" height="85" class="customer__img"></picture>
                <div class="reviews__field">
                  <div class="reviewes__gradient-box">
                    <p class="reviews__text"> <span class="reviews__pseudo">N</span> ullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div></div> 
              <h3 class="reviews__reviewer-data">Tiffany, Chicago</h3>
            </div> 
             <div class="reviews__item"> 
              <picture class="reviews__reviewer-photo">
                 <img src="./images/customer-reviews/customer-3.png " alt="photo of happy girl in glasses" width="85" height="85" class="customer__img"></picture>
                <div class="reviews__field">
                  <div class="reviewes__gradient-box">
                    <p class="reviews__text"> <span class="reviews__pseudo">N</span> ullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                </div></div> 
                  <h3 class="reviews__reviewer-data">Alice, New York</h3>
                </div>
            </div>
               
      </div>
    </section>
