<section>
    <div class="container">
        <h2  id="customer-reviews" class="visualy-hidden">Customer reviewers</h2>
        <ul class="reviews">
        <li class="reviews__item">
          <picture class="reviews__reviewer-photo">
            <source srcset=" ./images/customer-reviews/customer-1.png 1x, ./images/customer-reviews/customer-1@2x.png 2x, ./images/customer-reviews/customer-1@3x.png 3x" type="image/png">
            <img
            src="./images/customer-reviews/customer-1.png "
            alt="photo of curly hair girl"
            width="85"
            height="85"
            class="reviews__customer-img"/></picture>
         <div class="reviews__field">
          <div class="reviewes__gradient-box">
          <P class="reviews__text"> <span class="reviews__pseudo">N</span> ullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</P>
        </div>
      </div> 
          <h3 class="reviews__reviewer-data">Emily, Los Angeles</h3>
        </li>
   
        <li class="reviews__item  visualy-hidden">
            <picture class="reviews__reviewer-photo">
              <source srcset=" ./images/customer-reviews/customer-2.png 1x, ./images/customer-reviews/customer-2@2x.png 2x, ./images/customer-reviews/customer-2@3x.png 3x" type="image/png">
              <img
                src="./images/customer-reviews/customer-2.png "
                alt="photo of happy girl in yellow dress"
                width="85"
                height="85"
                class="customer__img"/></picture>
                <div class="reviews__field">
                  <div class="reviewes__gradient-box">
                    <P class="reviews__text"> <span class="reviews__pseudo">N</span> ullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</P>
            </div></div> 
              <h3 class="reviews__reviewer-data">Tiffany, Chicago</h3>
            </li> 
             <li class="reviews__item  visualy-hidden"> 
              <picture class="reviews__reviewer-photo">
                <source srcset=" ./images/customer-reviews/customer-3.png 1x, ./images/customer-reviews/customer-3@2x.png 2x, ./images/customer-reviews/customer-3@3x.png 3x" type="image/png">
                <img
                src="./images/customer-reviews/customer-3.png "
                alt="photo of happy girl in glasses"
                width="85"
                height="85"
                class="customer__img"/></picture>
                <div class="reviews__field">
                  <div class="reviewes__gradient-box">
                    <P class="reviews__text"> <span class="reviews__pseudo">N</span> ullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</P>
                </div></div> 
                  <h3 class="reviews__reviewer-data">Alice, New York</h3>
                </li>
            </ul>
          <ul class="reviews__slider">
              <li class="reviews__pagination reviews__pagination--current "></li>
              <li class="reviews__pagination "></li>
              <li class="reviews__pagination "></li>
          </ul>
  
    
        
    </div>
  </section>