 <section class="section-gallery container--no-padding">
        <!-- <div class="container">
            <h2  id="gallery"  class="visualy-hidden">Gallery</h2>
    
           <picture>
                <source srcset="
                                    ./images/gallery/home-pic5-desktop.jpg 1x,
                                    ./images/gallery/home-pic5-desktop@2x.jpg 2x,
                                    ./images/gallery/home-pic5-desktop@3x.jpg 3x
                                " media="(min-width:1280px)" />
                <source srcset="
                                    ./images/gallery/home-pic5-tablet.jpg 1x,
                                    ./images/gallery/home-pic5-tablet@2x.jpg 2x,
                                     ./images/gallery/home-pic5-tablet@3x.jpg 3x
                                " media="(min-width:768px)" />
                <source srcset="
                                   ./images/gallery/home-pic5-mobile.jpg 1x,
                                   ./images/gallery/home-pic5-mobile@2x.jpg 2x,
                                  ./images/gallery/home-pic5-mobile@3x.jpg 3x"
                                     media="(max-width:767px)" />
    
                <img src="./images/gallery/home-pic5-desktop.jpg" alt="Icecreame" width="1280" height="430">
            </picture>
        </div> -->

        <div class="container container_gallery">
  <div
      class="slide"
      style="background-image: url('https://images.unsplash.com/photo-1505394033641-40c6ad1178d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGljZSUyMGNyZWFtfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');"
  >
    <h3>Ice-Cream</h3>
  </div>
  <div
      class="slide"
      style="
          background-image: url('https://images.unsplash.com/photo-1560008581-09826d1de69e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8aWNlJTIwY3JlYW18ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
        "
  >
    <h3>Ice-Cream</h3>
  </div>
  <div
      class="slide"
      style="
          background-image: url('https://images.unsplash.com/photo-1477505982272-ead89926a577?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
        "
  >
    <h3>Ice-Cream</h3>
  </div>
  <div
      class="slide"
      style="
          background-image: url('https://images.unsplash.com/photo-1620231075189-3f3f4623da41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTg4fHxpY2UlMjBjcmVhbXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
        "
  >
    <h3>Ice-Cream</h3>
  </div>
  <div
      class="slide"
      style="
          background-image: url('https://images.unsplash.com/photo-1578845181787-c01d178f87ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjEzfHxpY2UlMjBjcmVhbXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
        "
  >
   <h3>Ice-Cream</h3>
  </div>
   <div
      class="slide"
      style="
          background-image: url('https://images.unsplash.com/photo-1564021345996-c4d4e8ac84b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTY1fHxpY2UlMjBjcmVhbXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
        "
  >
    <h3>Ice-Cream</h3>
  </div>
  <div
      class="slide"
      style="
          background-image: url('https://images.unsplash.com/photo-1570703658726-47fc24c4ee3c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTk3fHxpY2UlMjBjcmVhbXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
        "
  >
    <h3>Ice-Cream</h3>
  </div>
  <div
      class="slide"
      style="
          background-image: url('https://images.unsplash.com/photo-1534173751091-95c4b3108237?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTUyfHxpY2UlMjBjcmVhbXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
        "
  >
    <h3>Ice-Cream</h3>
  </div>
  <div
      class="slide"
      style="
          background-image: url('https://images.unsplash.com/photo-1509745579717-28cc577a8ef8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTEzfHxpY2UlMjBjcmVhbXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
        "
  >
   <h3>Ice-Cream</h3>
  </div>
</div>

    </section>