
    <header class="header page-header container">
        <div class="header__container ">
            <img class="logo" src="./images/hero-header/logo.png" alt="Логотип">
            <img class="ellipse" src="./images/hero-header/Ellipse.png" alt="элипс">
            <img class="ice" src="./images/hero-header/slider-ice_1.png" alt="мороженное">
            <img class="number-16" src="./images/hero-header/number-16.png" alt="мороженное">
            <img class="number-23" src="./images/hero-header/number-23.png" alt="мороженное">
            <img class="girl" src="./images/hero-header/slider-girl4_1.png" alt="мороженное">
            <img class="milk" src="./images/hero-header/slider-milk5_1.png" alt="мороженное">
    
            <div class="header__text">
                <h1 class="text"><span class="text_1">ice cream</span> <br>
                    <span class="text_2">made with</span><br>
                    <span class="text_3">passion</span>
                </h1>
                <div class="button-container">
                    <button class="header-button dark-button"><a>Products</a></button>
                    <button class="header-button light-button"><a>How it’s made?</a></button>
                </div>
            </div>
    
            <div class="">
                <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
                    <svg width="20" height="12" class="svg-open">
                        <use href="./images/hero-header/spryte.svg#icon-Burger-1"></use>
                    </svg>
                </button>
    
                <button class="header__button header__button--close">Buy now ></button>
    
                <ul class="menu nav__site">
                    <li class="header__item"><a href="index.html" class="link nav__link  current">Home</a></li>
                    <li class="header__item"><a href="About us" class="link nav__link">About us</a></li>
                    <li class="header__item"><a href="How it’s made?" class="link nav__link  ">How it’s made?</a></li>
                    <li class="header__item"><a href="Our products" class="link nav__link">Our products</a></li>
                    <li class="header__item"><a href="index.html" class="link nav__link  ">Contact</a></li>
                </ul>
            </div>
            <div>
                <p class="header__description">Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit,<br> sed do eiusmod tempor<br> incididunt ut labore et</p>
                <button class="arrow-right" aria-expanded="false" aria-controls="">
                    <svg width="18" height="18" class="icon-right">
                        <use href="./images/hero-header/spryte.svg#icon-arrow-right2"></use>
                    </svg>
                </button>
            </div>
    
        </div>
    
    </header>


    <main>
    <div class="menu-container js-menu-container " id="mobile-menu">
        <button class="menu-toggle js-close-menu">
            <svg class="svg-close" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                <path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
        </button>

        <button class="header__button header__button--open">Buy now ></button>
        
    
        <ul class="mobile-menu">
            <li><a href="index.html" class="link">Home</a></li>
            <li><a href="About us" class="link">About us</a></li>
            <li><a href="How it’s made?" class="link">How it’s made?</a></li>
            <li><a href="Our products" class="link">Our products</a></li>
            <li><a href="Contact" class="link">Contact</a></li>
        </ul>
    </div>

</main>



